<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51749956261-4vl42sn3d6m9n9usg58n80sol1u4e09k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51749956261-4vl42sn3d6m9n9usg58n80sol1u4e09k</string>
	<key>API_KEY</key>
	<string>AIzaSyBDmKeh6vkYUF2Qtf_nv8CZEAf4L4A1VfU</string>
	<key>GCM_SENDER_ID</key>
	<string>51749956261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Mini-Tangivel</string>
	<key>PROJECT_ID</key>
	<string>pisco-8b167</string>
	<key>STORAGE_BUCKET</key>
	<string>pisco-8b167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51749956261:ios:9831c13e636cf3e845fb4c</string>
</dict>
</plist>